@model EgeAlpProject.ViewModel.CardDetailsViewModel

<div class="col-lg-4 col-md-6 col-sm-6">
    <div class="single-cat text-center mb-50">
        <div class="cat-icon">
            <a class="btn-outline-dark" asp-action="Edit" asp-route-id="@Model.Car.Id">Edit</a> <a>|</a>
            <a class="btn-outline-dark" asp-action="Delete" asp-route-id="@Model.Car.Id">Delete</a>
            <span>
                @{
                    var imageUrl = Model.Car.CarImages?.FirstOrDefault()?.FileName ?? "noimage.jpg";
                }
                <div class="d-flex flex-column align-items-center justify-content-center"><a class="btn-outline-dark" asp-action="Details" asp-route-id="@Model.Car.Id"><img src="~/UserImages/@imageUrl" alt="" style="width:350px ; height:200px"></a></div>
            </span>
        </div>
        <div class="cat-cap">

            <h4>@Model.Car.CarBrand.Name | @Model.Car.CarModel</h4>
            <h4>@Model.Car.city</h4>
            <h6>Daily</h6>
            <h4>@Model.Car.Price USD</h4>
            <p><a class="btn-outline-dark" asp-action="Details" asp-route-id="@Model.Car.Id">Details</a></p>
            <p><i class="fa fa-comments"></i> @Model.Car.Comments.Count Comments</p>


        </div>
    </div>
</div>
