@model IEnumerable<EgeAlpProject.Models.Rental>

@{
    ViewData["Title"] = "Index";
}

<div class="categories-area" style="padding-top:40px ; padding-bottom:40px">
    <div class="container">
        <h1>Index</h1>

        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Car)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateRented)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateReturned)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalPrice)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Car.CarModel)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateRented)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateReturned)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalPrice)
                        </td>
                        <td>
                            <a asp-action="Edit" class="btn-outline-dark" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" class="btn-outline-dark"  asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" class="btn-outline-danger"  asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>