@model EgeAlpProject.Models.Car

@{
    ViewData["Title"] = Model.Name;
}

<html class="js sizes no-customelements history pointerevents postmessage webgl websockets cssanimations csscolumns csscolumns-width csscolumns-span csscolumns-fill csscolumns-gap csscolumns-rule csscolumns-rulecolor csscolumns-rulestyle csscolumns-rulewidth csscolumns-breakbefore csscolumns-breakafter csscolumns-breakinside flexbox picture srcset webworkers" lang="zxx">

<body style="overflow: visible;">
    <!--? Preloader Start -->
    <div id="preloader-active" style="display: none;">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img alt="" src="assets/img/logo/loder.jpg">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->

    <main>
        <!--? slider Area Start-->
        <!-- slider Area End-->
        <!--? About Area Start -->
        <div class="about-low-area" style="padding-top:40px">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="about-caption mb-50">
                            <!-- Section Tittle -->
                            <div class="section-tittle mb-35">
                                <a asp-action="Index"><h4>Back to List</h4></a>
                                <span>@Model.CarBrand.Name / @Model.CarModel / @Model.city</span>
                                <h2>@Model.Name</h2>
                            </div>
                            <dl class="row">
                                <dt class="col-sm-3">
                                    @Html.DisplayNameFor(model => model.Name)
                                </dt>
                                <dd class="col-sm-9">
                                    @Html.DisplayFor(model => model.Name)
                                </dd>
                                <dt class="col-sm-3">
                                    @Html.DisplayNameFor(model => model.CarBrand)
                                </dt>
                                <dd class="col-sm-9">
                                    @Html.DisplayFor(model => model.CarBrand.Name)
                                </dd>
                                <dt class="col-sm-3">
                                    @Html.DisplayNameFor(model => model.CarModel)
                                </dt>
                                <dd class="col-sm-9">
                                    @Html.DisplayFor(model => model.CarModel)
                                </dd>
                                <dt class="col-sm-3">
                                    @Html.DisplayNameFor(model => model.year)
                                </dt>
                                <dd class="col-sm-9">
                                    @Html.DisplayFor(model => model.year)
                                </dd>
                                <dt class="col-sm-3">
                                    @Html.DisplayNameFor(model => model.VehicleKm)
                                </dt>
                                <dd class="col-sm-9">
                                    @Html.DisplayFor(model => model.VehicleKm)
                                </dd>
                                <dt class="col-sm-3">
                                    @Html.DisplayNameFor(model => model.FuelType)
                                </dt>
                                <dd class="col-sm-9">
                                    @Html.DisplayFor(model => model.FuelType)
                                </dd>
                                <dt class="col-sm-3">
                                    @Html.DisplayNameFor(model => model.AvgCons)
                                </dt>
                                <dd class="col-sm-9">
                                    @Html.DisplayFor(model => model.AvgCons) mpg
                                </dd>
                                <dt class="col-sm-3">
                                    @Html.DisplayNameFor(model => model.Tansmission)
                                </dt>
                                <dd class="col-sm-9">
                                    @Html.DisplayFor(model => model.Tansmission)
                                </dd>
                                <dt class="col-sm-3">
                                    @Html.DisplayNameFor(model => model.Description)
                                </dt>
                                <dd class="col-sm-9">
                                    @Html.DisplayFor(model => model.Description)
                                </dd>
                                <dt class="col-sm-3">
                                    @Html.DisplayNameFor(model => model.city)
                                </dt>
                                <dd class="col-sm-9">
                                    @Html.DisplayFor(model => model.city)
                                </dd>
                                <dt class="col-sm-3">
                                    @Html.DisplayNameFor(model => model.Location)
                                </dt>
                                <dd class="col-sm-9">
                                    @Html.DisplayFor(model => model.Location)
                                </dd>
                                <dt class="col-sm-3">
                                    @Html.DisplayNameFor(model => model.CreatedDate)
                                </dt>
                                <dd class="col-sm-9">
                                    @Html.DisplayFor(model => model.CreatedDate)
                                </dd>
                            </dl>
                            <p></p>
                            <span class="btn">Daily Price @Html.DisplayFor(model => model.Price) USD</span>
                            <a class="btn" href="about.html">Go For Rent</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12" style="padding-top:150px">
                        <!-- about-img -->
                        <div class="about-img ">
                            <div class="about-font-img">
                                <span>
                                    @{
                                        var imageUrl = @Model.CarImages?.FirstOrDefault()?.FileName ?? "noimage.jpg";
                                    }
                                    <div class="d-flex flex-column align-items-center justify-content-center"><img src="~/UserImages/@imageUrl" alt="" style="width:150%"></div>
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <section class="blog_area single-post-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 posts-list">

                        <div class="comments-area">
                            <h2>Comments</h2>
                            <h4>@Model.Comments.Count Comments</h4>
                            @foreach (var item in Model.Comments)
                            {

                                <div class="comment-list">
                                    <div class="single-comment justify-content-between d-flex">
                                        <div class="user justify-content-between d-flex">
                                            <div class="thumb">
                                                <img alt="" src="~/assets/img/comment/comment_1.png">
                                            </div>
                                            <div class="desc">
                                                <h5>@item.Title</h5>
                                                <p class="comment">
                                                    @item.Detail
                                                </p>
                                                <div class="d-flex justify-content-between">
                                                    <div class="d-flex align-items-center">
                                                        <h5>
                                                            Rating @item.Rating
                                                        </h5>
                                                        <p class="date">@item.CreatedDate</p>
                                                    </div>
                                                    <div class="reply-btn">
                                                        <a class="btn-reply text-uppercase" asp-controller="Comments" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                                    </div>
                                                    
                                                    <div class="reply-btn">
                                                        <a class="btn-reply text-uppercase" asp-controller="Comments" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }


                            <div class="comment-form">
                                <h3>Leave a Comment</h3>
                                <form class="form-contact comment_form" id="commentForm" asp-controller="Comments" asp-action="Create" >
                                    <input type="hidden" value="@Model.Id" name="CarId" />
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input name="Title" class="form-control" id="name" type="text" placeholder="Title">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <textarea name="Detail" class="form-control w-100" id="comment" placeholder="Write Comment" rows="9" cols="30"></textarea>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <p>Rating</p>
                                                <input name="Rating" class="form-control" id="email" type="number" placeholder="Rating">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <button class="button button-contactForm btn_1 boxed-btn" type="submit">Comment</button>
                                    </div>
                                </form>
                            </div>




                        </div>
                        
                    </div>
                </div>
                </div>
        </section>




    </main>

    <!-- Scroll Up -->
    <div id="back-top" style="display: block;">
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

 
</body>
</html>
