@model IEnumerable<EgeAlpProject.Models.Car>

@{
    ViewData["Title"] = "Index";
}

    <html class="js sizes no-customelements history pointerevents postmessage webgl websockets cssanimations csscolumns csscolumns-width csscolumns-span csscolumns-fill csscolumns-gap csscolumns-rule csscolumns-rulecolor csscolumns-rulestyle csscolumns-rulewidth csscolumns-breakbefore csscolumns-breakafter csscolumns-breakinside flexbox picture srcset webworkers" lang="zxx">
  
    <body style="overflow: visible;">
        <!--? Preloader Start -->
        <!-- Preloader Start -->

        <main>
            <!--? slider Area Start-->
            <!-- slider Area End-->
            <!--? Categories Area Start -->
            <div class="categories-area" style="padding-top:40px">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Section Tittle -->
                            <div class="section-tittle text-center mb-80">
                                <span>Current Car List</span>
                                <h2>All Rental Cars</h2>
                            </div>
                            <div style="padding-bottom:40px"><a class="btn-outline-dark" asp-controller="Cars" asp-action="Create">Create New Rental Car</a></div>
                        </div>

                    </div>

                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="single-cat text-center mb-50">
                                    <div class="cat-icon">
                                        <a class="btn-outline-dark" asp-action="Edit" asp-route-id="@item.Id">Edit</a> <a>|</a>
                                        <a class="btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                        <span>
                                            @{
                                                var imageUrl = item.CarImages?.FirstOrDefault()?.FileName ?? "noimage.jpg";
                                            }
                                            <div class="d-flex flex-column align-items-center justify-content-center"><a class="btn-outline-dark" asp-action="Details" asp-route-id="@item.Id"><img src="~/UserImages/@imageUrl" alt="" style="width:350px ; height:200px"></a></div>
                                        </span>
                                    </div>
                                    <div class="cat-cap">

                                        <h4>@item.CarBrand.Name | @item.CarModel</h4>
                                        <h4>@item.city</h4>
                                        <h6>Daily</h6>
                                        <h4>@item.Price USD</h4>
                                        <p><a class="btn-outline-dark" asp-action="Details" asp-route-id="@item.Id">Details</a></p>
                                        <p><i class="fa fa-comments"></i> @item.Comments.Count Comments</p>


                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </main>
    </body>
    </html>



